
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Recrutadora/Index.css">
</head>
<body>
    @Html.ActionLink("Nova Recrutadora", "Cadastro", "Recrutadora", new {@class = "botao-nova-recrutadora}")
    <div> 
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach(exemploMVC02.Models.Recrutadora recrutadora in @ViewBag.Recrutadoras)
                {
                  <tr>
                      <td>@recrutadora.Id</td>
                      <td>@recrutadora.Nome</td>
                      <td>@recrutadora.CPF</td>
                      <td>
                          <a href="/Recrutadora/Editar?id=@recrutadora.Id">Editar</a>
                          <a href="/Recrutadora/Excluir?id=@recrutadora.Id">Excluir</a>
                      </td>
                  </tr>  
                }
            </tbody>
        <tfoot>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Ação</th>
            </tr>
        </tfoot>
        </table>
    </div>
</body>
</html>
